<!DOCTYPE html>
<html lang="fr-fr" ng-app="algoApp">
<head>
    <script src="scripts/jQuery.Bootstrap.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="Content/1-col-portfolio.css" rel="stylesheet" />    <link href="Content/rzslider.min.css" rel="stylesheet" />
    
    <script type="text/javascript" src="scripts/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="scripts/jquery.signalR-2.2.0.js"></script>
    <script type="text/javascript" src="scripts/Constellation-1.8.0.js"></script>
    <script type="text/javascript" src="scripts/angular.min.js"></script>
    <script src="scripts/ngConstellation-1.8.0.js"></script>    <script src="scripts/rzslider.min.js"></script>
    <script src="scripts/ng_algorithme.js"></script>

    <title ng-controller="titleController">{{title}}</title>

</head>
<body ng-controller="mainController">
    <div>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">projetVEL</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="https://github.com/projetVEL/projetVEL">About</a>
                        </li>
                        <li>
                            <a href="https://github.com/projetVEL/projetVEL">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
        <div class="container">
            <button type="button" class="btn btn-primary pull-right top">Envoyer à Constellation</button>
            <button type="button" class="btn btn-primary pull-left top">Retour Index</button>
            <div><h1 class="page-header" style="text-align:center">Nom (TextInput) : {{Algorithme.Name}}</h1></div>
            <div class="row">
                <div class="col-md-7">
                    <a href="#">
                        <img class="img-responsive" src="{{Algorithme.URLPhotoDescription}}" width="700" alt="" />
                    </a>
                </div>
                <div class="col-md-5">
                    <p>URL de la photo de présentation (textInput) : {{Algorithme.URLPhotoDescription}}</p>
                    <p>Description (textInput) : </p>
                    <p>{{Algorithme.Description}}</p>
                </div>
            </div>
            <hr />
            </div>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-4">
                <h1 style="text-align : center">IF</h1>
                <div class="well" ng-repeat="i in Algorithme.Conditions track by $index">
                    <div>Sentinelle (liste) : {{Algorithme.Conditions[$index].Variables.sentinel}} </div>
                    <div>Package (liste) : {{Algorithme.Conditions[$index].Variables.package}}</div>
                    <div>
                        Variable (liste) : {{Algorithme.Conditions[$index].Variables.variable}}
                        <span> (liste) {{Algorithme.Conditions[$index].OperationTested}} </span>
                        <span> (zoneInputText) {{Algorithme.Conditions[$index].Value}} </span>
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-lg" ng-click="addCondition()">Ajouter Condition</button>
                <button type="button" class="btn btn-primary btn-lg" ng-click="afficherPlageHoraire = !afficherPlageHoraire">
                {{afficherPlageHoraire ? 'moins' : 'plus'}} d'options</button>
                <div ng-show="afficherPlageHoraire">
                    <h3>Plage horaire (boutons plus sexy à intégrer plus tard) :</h3>
                    <div class="well">
                        <div>
                            <label>
                                Lundi:
                                <input type="checkbox" ng-model="Algorithme.Schedule.Week.Monday">
                            </label><br />
                            <label>
                                Mardi:
                                <input type="checkbox" ng-model="Algorithme.Schedule.Week.Tuesday">
                            </label><br />
                            <label>
                                Mercredi:
                                <input type="checkbox" ng-model="Algorithme.Schedule.Week.Wednesday">
                            </label><br />
                            <label>
                                Jeudi:
                                <input type="checkbox" ng-model="Algorithme.Schedule.Week.Thursday">
                            </label><br />
                            <label>
                                Vendredi:
                                <input type="checkbox" ng-model="Algorithme.Schedule.Week.Friday">
                            </label><br />
                            <label>
                                Samedi:
                                <input type="checkbox" ng-model="Algorithme.Schedule.Week.Saturday">
                            </label><br />
                            <label>
                                Dimanche:
                                <input type="checkbox" ng-model="Algorithme.Schedule.Week.Sunday">
                            </label><br />
                        </div>
                        <div>
                            Plages temporelles (range sliders) :

                            <div>secondes</div>
                            <div>min</div>
                            <div>heures</div>
                            <div>jours</div>
                            <div>mois</div>

                        </div>
                        <div>Plage de réactivation (liste) : {{Algorithme.Schedule.ReactivationPeriode}}</div>
                    </div>
                </div>
            </div>

            <div class="col-sm-offset-1 col-sm-5">
                <h1 style="text-align:center">THEN</h1>
                <div class="well" ng-repeat="i in Algorithme.Executions track by $index">
                    <div>Sentinelle (liste) : {{Algorithme.Executions[$index].Variables.sentinel}} </div>
                    <div>Package (liste) : {{Algorithme.Executions[$index].Variables.package}}</div>
                    <div>
                        CallBack (liste) : {{Algorithme.Executions[$index].Variables.callBack}}( (addButton : inputText)
                        <span ng-repeat="i in Algorithme.Executions[$index].Arguments">{{Algorithme.Executions[$parent.$index].Arguments[$index]}}, </span>
                        )
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-lg" ng-click="addExecution()">Ajouter Execution</button>
                <button type="button" class="btn btn-primary btn-lg" ng-click="afficherDesactivation = !afficherDesactivation">
                {{afficherDesactivation ? 'moins' : 'plus'}} d'options</button>
                <div ng-show="afficherDesactivation">
                    <h3>Desactivation de l'Algorithme :</h3>
                    <div class="well">
                        <label>
                            ActiverAlgo:
                            <input type="checkbox" ng-model="Algorithme.IsActive">
                        </label><br />
                        <div>Temps d'attente (inputText) : {{Algorithme.Waiting}} secondes</div>
                        <label>
                            Desactiver après exécution (ne peut être en mm temps qu'un wait) :
                            <input type="checkbox" ng-model="Algorithme.DisableAfterRealisation" />
                        </label>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</body>
</html>
