<!DOCTYPE html>
<html lang="fr-fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="projetVEL">

    <title>projetVEL liste des Algorithmes</title>

    <script src="scripts/jQuery.Bootstrap.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="Content/1-col-portfolio.css" rel="stylesheet" />

    <script type="text/javascript" src="scripts/jquery-1.6.4.js"></script>
    <script type="text/javascript" src="scripts/jquery.signalR-2.2.0.js"></script>
    <script type="text/javascript" src="scripts/Constellation-1.8.0.js"></script> 
    <script type="text/javascript" src="scripts/angular.min.js"></script>   
    <script src="scripts/ngConstellation-1.8.0.js"></script>
    <script src="scripts/ngApp.js"></script>

</head>

<body>
    <div ng-app="demo">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">projetVEL</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="https://github.com/projetVEL/projetVEL">About</a>
                        </li>
                        <li>
                            <a href="https://github.com/projetVEL/projetVEL">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- Page Content -->
        <div class="container" ng-controller="mycontroller">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Liste des Algorithmes créés
                    </h1>
                </div>
            </div>                      
            <!-- /.row -->
            <div class="row" >
                <div class="col-md-7">
                    <a href="#">
                        <img class="img-responsive" src="http://www.erecapluriel.fr/wp-content/uploads/creer-votre-entreprise.jpg" width="700" alt=""/>
                    </a>
                </div>
                <div class="col-md-5">
                    <h3>Nouvel Algorithme</h3>
                    <a ng-click="toggle = !toggle" class="btn btn-primary" href="">
                    Nouveau <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
            <!-- /.row -->
            <hr />
            <h2>Algorithmes actifs : </h2>  
            <listeAlgos ng-repeat="algo in listeAlgos[0].Value">
                <hr>
                <div class="row">
                    <div class="col-md-7">
                        <a href="">
                            <img class="img-responsive" width="700" src="{{algo.URLPhotoDescription}}" alt="" ng-style="algo.IsActive === false && {'filter': 'grayscale(100%)', '-webkit-filter' : 'grayscale(100%)', '-moz-filter' : 'grayscale(100%)', '-ms-filter' : 'grayscale(100%)' , '-o-filter': 'grayscale(100%)'}"/>
                        </a>
                    </div>
                    <div class="col-md-5">
                        <h3>{{algo.Name}}</h3>
                        <h4>Description</h4>
                        <p>{{algo.Description}}</p>
                        <a class="btn btn-primary" href="#">voir algorithme <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>
            </listeAlgos>
            <hr/>
            <h2>Algorithmes en pause : </h2>
            <listeAlgos ng-repeat="algo in listeAlgos[1].Value">
                <hr>
                <div class="row">
                    <div class="col-md-7">
                        <a href="">
                            <img class="img-responsive" width="700" src="{{algo.URLPhotoDescription}}" alt="" ng-style="algo.IsActive === false && {'filter': 'grayscale(100%)', '-webkit-filter' : 'grayscale(100%)', '-moz-filter' : 'grayscale(100%)', '-ms-filter' : 'grayscale(100%)' , '-o-filter': 'grayscale(100%)'}" />
                        </a>
                    </div>
                    <div class="col-md-5">
                        <h3>{{algo.Name}}</h3>
                        <h4>Description</h4>
                        <p>{{algo.Description}}</p>
                        <a class="btn btn-primary" href="#">voir algorithme <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>
            </listeAlgos>
            <!-- /.row -->
            <hr>

            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>projetVEL @ISEN-CIR59</p>
                    </div>
                </div>
                <!-- /.row -->
            </footer>
        </div>
    </div>
</body>

</html>
